@import url(//db.onlinewebfonts.com/c/2fed949d780f40eb2e2f4374e4de8df5?family=SF+Pro+Display);
@import url(//db.onlinewebfonts.com/c/49cf9e586b122fd8b8cf67c4df697fb9?family=SF+Pro+Rounded);
@import url(//db.onlinewebfonts.com/c/4b57277e89dfdd30c9a6b69acaf78d3a?family=SF+Pro);


@font-face {
    font-family: "SF Pro Display";
    src: url("//db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.eot");
    src: url("//db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.svg#SF Pro") format("svg");
}



body {
    background: rgb(207,237,248);
    background: linear-gradient(180deg,
    rgba(207,237,248,1) 0%,
    rgba(159,213,249,1) 26%,
    rgba(216,204,187,1) 55%,
    rgba(202,168,159,1) 70%,
    rgba(147,119,148,1) 87%,
    rgba(75,104,154,1) 95%);


    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(35, 34, 50);

    height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;

    font-family: "SF Pro Rounded", serif;
    font-feature-settings: "onum" 1;
    font-feature-settings: "onum" 1;
}


h1 {
    font-family: "SF Pro Display",sans-serif;
    padding-left: 0.3em;
    padding-right: 0.3em;
    margin-top: -1.5em;
    color: rgb(48, 67, 101);
}
